<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/CV.jpg" alt="Me" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Rifki Saifullah</h1>
            <p class="lead">KUNINGAN 2004</p>
        </div>
    </div>
</div>
  